* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

/* START LOGIN AND REGISTER */
.container {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    padding: 15px;
    background-color: #eff0ef;
}

.wrap-login {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0 1px 15px 0 #999999;
    
}
.bannerLogin {
    width: 70%;
}

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-size: 1rem;
    color: #000;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.login-form-title img {
    font-size: 90px;
}

.wrap-input {
    width: 100%;
    position: relative;

}
.title-input {
    color: #000;
    font-size: 0.9rem;
    font-weight:400;
}

.box-input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding-left: 10px;
}

.login-form-btn {
    font-size: 15px;
    border: none;
    background-color: #2D9BF0;
    color:#fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 5px 10px 0 rgb(153, 153, 153);
}

.txt1 {
    font-size: 0.9rem;
    color: #999999;
    line-height: 1.5;
    text-decoration: none;
}

.txt2 {
    font-size: 0.9rem;
    color: #2D9BF0;
    line-height: 1.5;
    text-decoration: none;
    
    
}
