/* src/components/EventList/style.css */
.events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.event-card {
    background-color: var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 8px;
    padding: 2rem;
    height: 400px;
    width: 350px;
    text-align: center;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.178);
    transition: transform 0.2s, box-shadow 0.2s;
}

.event-card:hover {
    border: 1px solid var(--primary-color);
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.event-card h4 {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.event-card p {
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}

.learn-more-button {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    transition: background-color 0.2s ease;
}

.learn-more-button:hover {
    background-color: var(--dark-primary-color);
}
