/* src/styles/global.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2D9BF0;
    --dark-primary-color: #135a83;
    --light-color: #ffffff;
    --dark-color: #13202b;
    --background-color: #f8f9fa;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    font-family: inherit;
    cursor: pointer;
}
