.payment__inner-content {
    margin: 2rem auto;
    max-width: 1200px;
    height: 70vh;
}

.payment__content {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 3rem;
    background-color: var(--light-color);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;

}

.payment__section-title {
    color: var(--dark-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 2.5rem;
  text-align: center;
}

.payment__details h3 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1rem;
    padding: 1rem;
}

.payment__details p {
    color: black;
    font-weight: 400;
}
.payment__button {
    max-width: 100%;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 1rem;
    border-radius: 1px;
    text-align: center;
    transition: background-color 0.2s;
    margin-top: 2rem;
    align-items: center;
}

.payment__button:hover {
    background-color: var(--dark-primary-color);
}

.payment__select-options h3 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1rem;
    padding: 1rem;
}

.payment__options  {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

.payment__options > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.payment__options input[type="radio"] {
    transform: scale(1.5);
    margin-right: 0.5rem;
}

.payment__options label {
    font-size: 1rem;
    color: var(--dark-color);
}

