/* src/components/Header/style.css */
header {
    position: relative;
    width: 100%;
    height: 100vh; /* Define a altura do header para cobrir toda a tela */
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem cubra toda a área mantendo a proporção */
}

header .inner-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2;
    color: white; /* Torna o texto visível caso a imagem seja escura */
    text-align: center;
}

.hero-foreground {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adiciona uma camada de sobreposição para dar contraste ao texto */
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-foreground h2, p, a {
    z-index: 2;
    padding: .5rem;
    color: var(--light-color);
}

h2 {
    font-size: 2rem;
}

.see-more-btn {
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: var(--primary-color);
    border-radius: 1px;
    transition: background 0.3s;
}

header a:hover {
    background-color: #ff4b4b;
}
