/* src/components/Navbar/style.css */
/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: unset;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Navbar container */
.nav {
    background-color: var(--primary-color);
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px var(--dark-color);
    z-index: 6;
}

/* Inner container */
.nav .inner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin-inline: 0 auto;
}

.logo {
    color: var(--light-color);
}

/* Default nav styling */
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
 
}
/* Nav item styling */
nav ul li {
    color: var(--light-color);
}

nav ul li:hover {
    transform: translateY(-4px);
    transition: all 0.2s;
    font-weight: bold;
}

.navs-icon-container {
    display: flex;
    align-items: center;
    color: var(--light-color);
    gap: 1rem;
}

.navs-icon-container svg {
    height: 1.5rem;
    color: var(--light-color);
    padding-left: 1rem;
}

.navs-icon-container .shopping-cart-btn {
    position: relative;
}

.search-input-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-bottom: 1px solid var(--light-color);
    padding: 0.5rem;
    margin-right: 1rem;
}

.search-input-container input {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--light-color);
}

.search-input-container svg {
    height: 1rem;
}

.search-input-container ::placeholder {
    color: var(--light-color);
}

.menu-button {
    display: none;
}

@media (max-width:920px) {
    .nav h1 {
        font-size: 1.2rem;
    }

    .menu-button {
        display: inline-block; /* Exibe o botão quando a tela é menor que 920px */
        color: var(--light-color);
        font-size: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;
    }
    
    nav {
        position: absolute;
        top: 55px;
        left: 0;
        background-color: var(--primary-color);
        width: 100%;
        padding-bottom: 1rem;
    }
    
    nav ul {
        display: none; /* Esconde o menu por padrão em telas menores */
        flex-direction: column; /* Empilha os itens verticalmente */
        width: 100%;
        
        
    }
    nav ul.show {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    
    }
}
@media (max-width: 768px) {
    nav ul {
        display: none; /* Esconde o menu por padrão em telas pequenas */
        flex-direction: column; /* Empilha os itens verticalmente */
        width: 100%;
    }

    nav.show ul {
        display: flex; /* Mostra o menu quando a classe "show" está presente */
    }
}

@media (max-width:720px) {
    header .inner-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width:580px) {
    .search-input-container {
        display: none;
    }
}
@media (min-width: 921px) {
    nav ul {
        display: flex; /* Always display the menu on larger screens */
    }

    nav.show ul {
        display: flex; /* Redundant but ensures visibility */
    }
}