/* src/pages/EventDetails/style.css */

.eventDetails__page-inner-content {
    margin: 2rem auto;
    max-width: 1200px;
}

.eventDetails__page-inner-content-details{
    max-width: 1100px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.eventDetails__page-inner-content-details .event-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.eventDetails__page-inner-content-details h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.eventDetails__page-inner-content-details p {
    font-size: 1rem;
    color: var(--dark-color);
    margin-bottom: 1rem;
    font-weight: 200;
}

.register-button {
    padding: 1rem 2rem;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 1px;
    font-size: 1rem;
    transition: background-color 0.2s;
    
}

.register-button:hover {
    background-color: var(--dark-primary-color);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.modal-content form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.modal-content form input,
.modal-content form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1px;
}

.cancel-button:hover {
    background-color: #999;
}
